footer(id="footer")
  div(class="container")
    div(class="row double")
      div(class="6u")
        div(class="row collapse-at-2")
          div(class="6u")
            h3 Accumsan
            ul(class="alt")
              li: a(href="#") Line 1
              li: a(href="#") Line 2
              li: a(href="#") Line 3
              li: a(href="#") Line 4
          div(class="6u")
            h3 Accumsan2
            ul(class="alt")
              li: a(href="#") Line 1
              li: a(href="#") Line 2
              li: a(href="#") Line 3
              li: a(href="#") Line 4
      div(class="6u")
        h2 Aliquam Interdum
        p Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.
        ul(class="icons")
          li: a(href="#" class="icon fa-twitter"): span(class="label") Twitter
          li: a(href="#" class="icon fa-facebook"): span(class="label") Facebook
          li: a(href="#" class="icon fa-instagram"): span(class="label") Instagram
          li: a(href="#" class="icon fa-linkedin"): span(class="label") LinedIn
          li: a(href="#" class="icon fa-pinterest" ): span(class="label") Pinterest
    ul(class="copyright")
      li &copy; Untitled. All rights reserved.
      li Design: a(href="http://templated.co") TEMPLATED
      li Images: a(href="http://unsplash.com") Unsplash
