header(id="header" class="skel-layers-fixed")
  h1: a(href="/") Cardo Analytics
  nav(id="nav")
    ul
      li: a(href="/search") Search
      li: a(href="/popular") Popular
      li: a(href="/edge") Trending
      li: a(href="/logout") Logout