doctype html
html
  include ./includes/head.jade
  body(id="top")
    if auth
      include ./includes/headerSecure.jade
    else
      include ./includes/header.jade

    section(id="banner")
      div(class="inner")
        h2 Cardo Analytics
        p Data insights for Etsy Sellers
        ul(class="actions")
          li: a(href="/register" class="button big special") Sign Up
          li: a(href="#elements" class="button big alt") Learn More

    section(id="elements" class="wrapper style1")
      header(class="major")
        h2 Actionable data driven solutions
        p Cardo Analytics combines the power of technology, science, and data to help Etsy sellers make more informed decisions
      div(class="container")
        div(class="row")
          div(class="4u")
            section(class="special box")
              i(class="icon fa-code major")
              h3 Technology
              p Eu non col commodo accumsan ante mi. Commodo consectetur sed mi adipiscing accumsan ac nunc tincidunt lobortis.
          div(class="4u")
            section(class="special box")
              i(class="icon fa-flask major")
              h3 Science
              p Eu non col commodo accumsan ante mi. Commodo consectetur sed mi adipiscing accumsan ac nunc tincidunt lobortis.
          div(class="4u")
            section(class="special box")
              i(class="icon fa-database major")
              h3 Data
              p Eu non col commodo accumsan ante mi. Commodo consectetur sed mi adipiscing accumsan ac nunc tincidunt lobortis.

    section(id="two" class="wrapper style2")
      header(class="major")
        h2 This is the second section
        p Cardo Analytics combines the power of technology and science to help Etsy sellers make more informed decisions
      div(class="container")
        div(class="row")
          div(class="6u")
            section(class="special")
              a(href="#" class="image fit"): img(src="images/pic01.jpg" alt="")
              h3 Mollis adipiscing nisl
              p Eget mi ac magna cep lobortis faucibus accumsan enim lacinia adipiscing metus urna adipiscing cep commodo id. Ac quis arcu amet. Arcu nascetur lorem adipiscing non faucibus odio nullam arcu lobortis. Aliquet ante feugiat. Turpis aliquet ac posuere volutpat lorem arcu aliquam lorem.
              ul(class="actions")
                li: a(href="#" class="button alt") Learn More
          div(class="6u")
            section(class="special")
              a(href="#" class="image fit"): img(src="images/pic02.jpg" alt="")
              h3 Mollis adipiscing nisl
              p Eget mi ac magna cep lobortis faucibus accumsan enim lacinia adipiscing metus urna adipiscing cep commodo id. Ac quis arcu amet. Arcu nascetur lorem adipiscing non faucibus odio nullam arcu lobortis. Aliquet ante feugiat. Turpis aliquet ac posuere volutpat lorem arcu aliquam lorem.
              ul(class="actions")
                li: a(href="#" class="button alt") Learn More

    include ./includes/foot.jade

